body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background:  #1B244A;
    width: 626px;
    height: 374px;
    margin: 0 auto;
}

h3{
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
}

.count-container{
    position: relative;
    max-width: 155px;
    min-height: 120px;
    margin: 0 auto;
    background: #080001;
    border-radius: 5px;
   
}

h4{
    position: absolute;
    width: 117px;
    height: 120px;
    top: -125px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px; 
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    margin-left:20px;
} 
.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 155px;
    height: 60px;
    margin: 23px 0;
}
button{
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: transparent;
    margin: 20px 0;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
}